{% extends 'master/layout.html' %}

{% block title %}For Libraries{% endblock %}

{% block content_primary %}
<h2>
  Library Services
</h2>
<section>
	<h3>Online Circulation Management</h3>
	<p>
		The evolution from print to digital is well underway, but there are still significant challenges to 
		overcome. While librarians effectively control the circulation of print resources, they have ceded such 
		control of online resources to external providers. Librarians are dependent on vendors and publishers 
		to provide timely, accurate reporting. Most do, but too many do not.
	</p>
  <p>
    Dublin Six creates solutions that finally give librarians a clear picture of online usage. Our analysis 
    is comprehensive, intuitive and uniform. From simple downloads by title per month to multifarious user 
    behavior analytics, you can rest assured that your entire collection is being considered. You can also 
    be confident that your collection management decisions are justified by fact. 
	</p>
	<h3>Service Interruption Monitoring</h3>
	<p>
	  With so much of a library's collection online, librarians depend on external providers immensely. While
	  in the past you would have almost certainly been notified of missing print material, when service to a 
	  digital resource is interrupted, it is extremely unlikely that it will be reported. 
	</p>
	<p>
	  Dublin Six can systematically monitor the level of service that you are receiving from external 
	  providers and notify you of any interruption. You will have evidence of the extent of the disruption, 
	  know whether it affected only your institution or others and have online access claims handled 
	  automatically.
	</p>
</section>
{% endblock %}