{% extends 'master/layout.html' %}

{% block title %}For Publishers{% endblock %}

{% block content_primary %}
<h2>
  Publisher Services
</h2>
<section>
	<h3>Platform Management</h3>
  <p>
    Subscribers of online content have higher expectations than ever before. Platforms simply must offer
    intuitive usability, intelligent searching, seamless navigation, links in and out at every level, 
    citation management and scores of other industry-standard features. The performance, availability and 
    accessibility of your platform should be consistently high.
  </p>
  <p>
    Whether you host your content in-house or outsource, Dublin Six has the expertise to ensure that your
    platform is not costing you sales. We can work directly with your staff or vendor to troubleshoot 
    problems, evaluate current offerings, manage projects from minor enhancements to major overhauls and
    even design, develop and deploy new functionality. Let us put our decades of experience in both 
    publishing and platform hosting, focus on scalability and interoperability, innovative spirit and 
    practical sensibilities to work for you. 
  </p>
	<h3>Society Partnership</h3>
  <p>
    Societies have an established, experienced and captive audience that is extremely valuable to 
    publishers. In order to secure working partnerships with societies, publishers must be current 
    with industry trends, online features and production processes. 
  </p>
  <p>
    Dublin Six can review your current digital offerings and provide detailed analysis, proposal 
    advisement, project planning and innovative development to better attract new and retain current 
    relationships with societies.
  </p>
</section>
{% endblock %}