{% include 'master/borders/small-begin.html' %}
<h2>
  Conference Calendar
</h2>
<section>     
  <p class="listHeader">
    Meet with Dublin Six at an upcoming conference
  </p>
  <ul>
    <li class="conference">
      <p class="name">
        Frankfurt Book Fair
      </p>
      <p class="location">
        Frankfurt, Germany
      </p>
      <p class="date">
        10-14 October 2012
      </p>
    </li>
    <li class="conference">
      <p class="name">
        Charleston Conference
      </p>
      <p class="location">
        Charleston, South Carolina
      </p>
      <p class="date">
        7-10 November 2012
      </p>
    </li>
    <li class="conference">
      <p class="name">
        ALA Midwinter Meeting
      </p>
      <p class="location">
        Seattle, Washington
      </p>
      <p class="date">
        25-29 January 2013
      </p>
    </li>
    <li class="conference">
      <p class="name">
        UKSG Annual Conference
      </p>
      <p class="location">
        Bournemouth, United Kingdom
      </p>
      <p class="date">
        8-10 April 2013
      </p>
    </li>          
  </ul>
</section>
{% include 'master/borders/small-end.html' %}